{% extends "base.twig" %}

{% block title %}PwPay - Bank account{% endblock %}

{% block content %}
    <div class="header_buttons">
        <div class="title">
            <h1>Bank account</h1>
        </div>

        <div class="buttons">
            <form action="/" method="GET" accept-charset="utf-8">
                <button class="white_button" type="submit">Home</button>
            </form>
        </div>
    </div>
    {% if bank is empty %}
        <form action="/account/bank-account" method="POST" accept-charset="utf-8">
            <br>
            <input type="text" name="owner" value="{{ owner }}" placeholder="Enter the owner name" required>
            <br>
            <input  type="text" name="iban" placeholder="Enter a valid IBAN" value="{{ iban }}" required>

            <br>
            {% if errors is not empty %}
                {% for error in errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <br>
            <button type="submit">Add bank account</button>
        </form>
    {% else %}
        <p>IBAN: {{iban}}</p>
        <form action="/account/bank-account/load" method="POST" accept-charset="utf-8">
            Add money to wallet <input type="number" name="amount" value="0" required>
            <br>
            <button type="submit">Add amount</button>
        </form>
    {% endif %}

    {% if load_message is not empty %}
        <p>{{ load_message }}</p>
    {% endif %}

{% endblock %}


