{% extends "base.twig" %}

{% block title %}PwPay - Pending Requests{% endblock %}

{% block content %}
    <div class="header_buttons">
        <div class="title">
            <h1>Pending Requests</h1>
        </div>

        <div class="buttons">
            <form action="/" method="GET" accept-charset="utf-8">
                <button class="white_button" type="submit">Home</button>
            </form>
        </div>
    </div>
    <br>

    {% if pending is not empty %}
        {% if errors is not empty %}
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <br>
        <table class="table_pending">
            <tr class="tr_pen">
                <td><label for="sender">Sender</label></td>
                <td><label for="quantity">Quantity</label></td>
                <td></td>
            </tr>
            {% for item in pending %}
                <tr class="tr_pen">
                    <td><p>{{ item.email_sender }}</p></td>
                    <td><p>{{ item.quantity }} €</p></td>
                    <td>
                        <form action="/account/money/requests/{{ item.id }}/accept" method="GET" accept-charset="utf-8">
                            <input type="hidden" name="email" value="{{ item.email_sender }}">
                            <input type="hidden" name="amount" value="{{ item.quantity }}">
                            <input type="hidden" name="request_id" value="{{ item.id }}">
                            <button class="small_button" type="submit">Pay</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No pending requests</p>
    {% endif %}

{% endblock %}