{% extends "base.twig" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

    <h1>Edit Profile</h1>
    <form enctype="multipart/form-data" action="/profile" method="POST" accept-charset="utf-8">
        <table>
            <tr>
                <td><label style="font-family:Arial" for="email">Email</label></td>
                <td><input type="email" id="email" name="mail" value="{{ email }}" placeholder="Enter your email" disabled></td>
            </tr>
            <tr>
                <td><label style="font-family:Arial" for="birthday">Birthday </label></td>
                <td><input type="date" id="birthday" name="birthday" value="{{ birthday }}" disabled></td>
            </tr>
            <tr>
                <td><label style="font-family:Arial" for="phone">Phone </label></td>
                <td><input type="tel" id="phone" name="phone" value="{{ phone }}"placeholder="+34" pattern="[+]{1}[34]{2}[0-9]{3}[0-9]{3}[0-9]{3}"></td>
            </tr>
        </table>
        <label style="font-family:Arial" for="output">Change profile picture </label><br>
        <input type="file" name="photo" accept="image/png" value="{{ image }}" onchange="loadFile()"><br>
        <img id="output" name="image" width="400" height="400" src="{{ photo }}"/>
        <script>
            var loadFile = function() {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                    URL.revokeObjectURL(output.src);
                }
            };
        </script>
    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}
        <br>
        <button type="submit">Edit</button>
    </form>
    <form action="/profile/security" method="GET" accept-charset="utf-8">
        <button type="submit">Change Password</button>
    </form>

    <form action="/account/summary" method="GET" accept-charset="utf-8">
        <button type="submit">Back to DashBoard</button>
    </form>
{% endblock %}

