{% extends "base.twig" %}

{% block title %}Edit Profile{% endblock %}

{% block header %}Edit Profile{% endblock %}

{% block form_header %}action="./profile" method="POST" accept-charset="utf-8"{% endblock %}
{% block type %}up{% endblock %}

{% block content %}

    <input type="email" name="email" value="{{ email }}" placeholder="Enter your email" disabled>
    <input type="date" name="birthday" value="{{ birthday }}" disabled>
    <input type="tel" id="phone" name="phone" placeholder="+34" pattern="[+]{1}[34]{2}[0-9]{3}[0-9]{3}[0-9]{3}" value="{{ phone }}">
    <img src="{{ photo }}" width="400" height="400">
    <form action="/profile/security" method="GET" accept-charset="utf-8">
        <button type="submit">Change Password</button>
    </form>
    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}
    <form action="/profile" method="POST" accept-charset="utf-8">
        <button type="submit">Edit</button>
    </form>

{% endblock %}

